<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Investment.Framework.Properties.Settings.StocksConnectionString"
            connectionString="Data Source=MERSEY-PC;Initial Catalog=Stocks;Persist Security Info=True;User ID=sa;Password=Password01!"
            providerName="System.Data.SqlClient" />
        <add name="Investment.Framework.Properties.Settings.StocksConnectionString1"
            connectionString="Data Source=.;Initial Catalog=Stocks;Persist Security Info=True;User ID=sa;Password=Password01!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>